.dcjq-vertical-mega-menu ol, .dcjq-vertical-mega-menu li, .dcjq-vertical-mega-menu ul{margin:0px; padding:0px}
.dcjq-vertical-mega-menu .menu ul li ul{display:none; text-align:left;}
.dcjq-vertical-mega-menu .menu .sub ul{display:block}
.dcjq-vertical-mega-menu .menu{line-height:16px; position:relative; border-bottom:none;}
.dcjq-vertical-mega-menu .menu li a{display:block; padding-top:11px; padding-bottom:11px; text-decoration:none}
.dcjq-vertical-mega-menu .menu li a:hover, .dcjq-vertical-mega-menu .menu li.mega-hover a{color:#C60}
.dcjq-vertical-mega-menu .menu li a.dc-mega{position:relative;}
.dcjq-vertical-mega-menu .menu li a .dc-mega-icon{display:block; position:absolute; top:14px; right:20px; width:6px; height:8px; background:url(images/arrow_right.png) no-repeat -6px 0}
.dcjq-vertical-mega-menu .menu li a:hover .dc-mega-iacon, .dcjq-vertical-mega-menu .menu li.mega-hover a .dc-mega-icon{background-position:0 0;}
.dcjq-vertical-mega-menu .menu li .sub-container{position:absolute; overflow:hidden; background:url(images/bg_menu.png) no-repeat 100% 100%; padding:0 13px 17px 0;}
.dcjq-vertical-mega-menu .menu li .sub-container .sub{border:none; padding:15px 15px 5px 15px; background:#fff url(images/bg_grad_top.png) repeat-x 0 0; border-top:1px solid #ccc; border-right:1px solid #bbb; border-bottom:1px solid #bbb; border-left:1px solid #ccc;}
.dcjq-vertical-mega-menu .menu li .sub .row{width:100%; overflow:hidden}
.dcjq-vertical-mega-menu .menu li .sub li{float:none; width:160px; font-size:1em; font-weight:normal; text-align:left;}
.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr{float:left; margin:0 5px 10px 5px}
.dcjq-vertical-mega-menu .menu li .sub a, .dcjq-vertical-mega-menu .menu.left li .sub a{background:none; border:none; text-shadow:none; float:none; color:#000; display:block; text-decoration:none; font-size:0.9em; margin-bottom:0}
.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a{background:url(images/bg_nav.png) repeat-x 0 -40px; padding:5px; margin-bottom:5px; text-transform:uppercase; font-weight:bold; color:#fff; text-shadow:1px 1px 1px #000; text-align:center}
.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a:hover{color:#000; text-shadow:none}
.dcjq-vertical-mega-menu .menu .sub li.mega-hdr li{margin-bottom:3px}
.dcjq-vertical-mega-menu .menu .sub li a{padding:3px 3px 3px 15px; background:url(images/bullet.png) no-repeat 3px 8px; font-weight:normal; text-transform:capitalize; font-size:12px}
.dcjq-vertical-mega-menu .menu .sub li a:hover{color:#fff; background:#000 url(images/bullet_white.png) no-repeat 5px 8px;}
.dcjq-vertical-mega-menu .menu .sub ul li{padding-right:0}
.dcjq-vertical-mega-menu .menu li .sub-container.non-mega .sub{padding:10px; background:#fff;}
.dcjq-vertical-mega-menu .menu li .sub-container.non-mega li{padding:0; margin:0; width:150px; float:none}

.dcjq-vertical-mega-menu .menu .sub li ul li ul li a{padding:3px 3px 3px 15px; background:url(images/bullet_off.png) no-repeat 3px 8px; font-weight:normal; text-transform:capitalize; font-size:12px}
.dcjq-vertical-mega-menu .menu .sub li ul li ul li a:hover{color:#fff; background:#000 url(images/bullet_on.png) no-repeat 5px 8px}
