@charset "utf-8"; 

 @import url("ini_home.css"); 
 @import url("ie6-png-hack.css"); 
 @import url("wrp-fix-double_r.css"); 
 @import url("wrp-style-default_main.css");  
 @import url("obj-style.css");  
 @import url("photoFrame/photoFrame.css");  