#kenburns-slideshow{position:relative; z-index:1; overflow:hidden}

.kb-slide{position:absolute; z-index:1; opacity:0}

.kb-slide img{position:relative; -webkit-transform:translate3d(0,0,0)-moz-transform:translate3d(0,0,0); -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden}

.loader{width:32px; height:32px; top:6px; left:550px; border:5px solid rgba(128,128,128,0.9); opacity:.9; border-top:5px solid rgba(0,0,0,0); border-left:5px dotted rgba(0,0,0,0); border-radius:32px; -moz-animation:spin .7s infinite linear; -webkit-animation:spin .7s infinite linear}

@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}
100%{-moz-transform:rotate(360deg)}
}
@-moz-keyframes spinoff{0%{-moz-transform:rotate(0deg)}
100%{-moz-transform:rotate(-360deg)}
}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes spinoff{0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(-360deg)}
}

#kenburns-description{width:100%; color:#999; padding:0 22px 22px 22px}

#kenburns-description p{margin:0; padding:0; line-height:18px; font-size:12px}

#kenburns-description a{color:white; text-decoration:none}
#kenburns-description a:hover{color:green; text-decoration:none}

#kenburns-description a:visited{color:white}
