* {margin: 0; padding: 0; outline: 0;}


.wrap {
	width: 1280px;
	/*max-width: 1600px;
	min-width: 960px;*/
	z-index: 10;
	position: relative;
	margin: 0 auto;

}



.section {
	width: 1280px;
	/*max-width: 1600px;
	min-width: 960px;*/
	z-index: 10;
	position: relative;
	
	min-height: 500px;
}


.inner {
	margin: 0 auto;
	position: relative;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 130px;
	color:#3d3d3d;
	padding: 0 0;
	
}

.s1 {
	margin: 10px auto;
	max-width: 1240px;
	
}


.s2 {
	margin: 10px auto;
	
	max-width: 1240px;
}

.s3 {
	margin: 10px auto;
	
	max-width: 1240px;
}


.s4 {
	margin: 10px auto;
	
	max-width: 1240px;
}



.s5 {
	margin: 10px auto;
	
	max-width: 1240px;
}

.s6 {
	margin: 10px auto;
	
	max-width: 1240px;
}





