@charset "utf-8";
/***********************************************
 * main_publish.php [ 首頁頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */

/*-----------------------------------*/

/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */
 /* ### 跑馬燈樣式 ### */
.Publish_Marquee{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;	
	/*background-color: #E8E8E8;*/
}
/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/

/***********************************************
 * view_publish.php [ 主要頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */
 
/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */

/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/

/***********************************************
 * detailed_publish.php [ 詳細頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */
 
/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */

/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/


