@charset "utf-8";
/***********************************************
 * xxx.php [ 首頁頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */
 
/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */

/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/

/***********************************************
 * xxx.php [ 主要頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */
 
/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */

/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/

/***********************************************
 * xxx.php [ 詳細頁面 ]
 ***********************************************/
/*   
 * 標題部分之設定樣式 
 */
 
/*-----------------------------------*/

/*   
 * 內容部分之設定樣式 
 */

/*-----------------------------------*/

/*   
 * 當無資料顯示時之設定樣式 
 */

/*-----------------------------------*/


