@charset "utf-8"; 

.loginbody{background-color:#d6ded4; background-repeat:repeat-x}
form#ADlogin{width:100%}

form#ADlogin .noimpword{color:#999; font-size:small}

form#ADlogin table{margin-right:auto; margin-left:auto}

form#ADlogin .Input_field{width:150px; background-image:url(../images/form_bk_input.jpg); background-repeat:repeat-x; color:#406F6B; border:1px solid #A7BCA3}

input.AccountPswWidth{width:200px}

div.TipMessage{background-color:#D1EFB4; border:3px solid #99DC56; font-weight:bold; color:#548B1D; text-align:center; font-size:medium}

.TipTypeStyle{font-weight:bold; color:#06C}

.MenuViewPage a:hover{background-color:#C5CCC1}

.LineHight5px{height:5px}

.container{padding:0px; margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px}

.board{border:1px solid #DDD}

.ct_board{padding:5px}

.cm_wrp_title{border-top-width:1px; border-right-width:0px; border-bottom-width:1px; border-left-width:0px; border-top-style:dotted; border-right-style:dotted; border-bottom-style:dotted; border-left-style:dotted; border-top-color:#999; border-right-color:#999; border-bottom-color:#999; border-left-color:#999; font-weight:bolder; padding-top:5px; padding-bottom:5px; margin-bottom:5px}

#page_break{}
#page_break .collapse{display:none}
#page_break .num{padding:10px 0; text-align:center}
#page_break .num li{display:inline; margin:0 2px; padding:3px 5px; border:1px solid #FF7300; background-color:#fff; color:#FF7300; text-align:center; cursor:pointer; font-family:Arial; font-size:12px; overflow:hidden}
#page_break .num li.on{background-color:#FF7300; color:#fff; font-weight:bold}