@charset "utf-8";
.xbreadcrumbs{position:relative;z-index:500}
.xbreadcrumbs LI UL{position:absolute;float:left}
.xbreadcrumbs,.xbreadcrumbs LI,.xbreadcrumbs UL,.xbreadcrumbs UL LI{list-style:none;margin:0;padding:0}
.xbreadcrumbs{clear:both}
.xbreadcrumbs,.xbreadcrumbs LI{float:left}
.xbreadcrumbs UL{display:none}
.xbreadcrumbs{width:100%}
.xbreadcrumbs LI{padding:5px;border-right:1px solid #CECECE;height:16px;line-height:16px}
.xbreadcrumbs LI.current{border-right:none}
.xbreadcrumbs LI A{font-size:11px;text-decoration:none}
.xbreadcrumbs LI A:HOVER,.xbreadcrumbs LI.hover A{color:#0A8ECC}
.xbreadcrumbs LI.current A{font-weight:700}
.xbreadcrumbs LI UL{padding:3px;background:#fff;font-size:11px;width:180px;top:25px;border:1px solid #DDD}
.xbreadcrumbs LI UL LI{float:left;width:100%;border-right:none;height:auto}
.xbreadcrumbs LI UL LI A{text-decoration:none;display:block;padding:4px;border-bottom:1px dotted #666;font-weight:400}
.xbreadcrumbs LI UL LI:last-child A{border-bottom:none}
.xbreadcrumbs LI UL LI A:HOVER{background-color:#F9F9F9}
.xbreadcrumbs LI{border-right:none}
.xbreadcrumbs LI.current{background:none}
.xbreadcrumbs LI UL LI{background:none}