.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu li ul{display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

.blog {
	line-height: 16px;
	width: 100%;
}
.blog ul.mega-menu, .blog ul.mega-menu, .blog ul.mega-menu li {margin: 0; padding: 0; border: none;}
.blog ul.mega-menu {width: 100%; height: 40px; position: relative;}
.blog ul.mega-menu li {
	float: left;
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	padding-top: 0;
	padding-right: 2;
	padding-bottom: 0;
	padding-left: 2;
}
.blog ul.mega-menu li a {
	float: left;
	display: block;
	color: #FFF;
	padding: 12px 15px 12px 15px;
	/*text-shadow: 1px 1px 1px #fff;
	text-decoration: none;*/
	background-image: url(../../../images/home/images/mainmenu_02.png);
	background-repeat: repeat-x;
	background-position: 100% 0;
}
.blog ul.mega-menu li a.dc-mega {position: relative;}
.blog ul.mega-menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	width: 8px;
	height: 6px;
	top: 18px;
	right: 0px;
	clip: rect(0px,auto,auto,auto);
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 6%;
}
.blog ul.mega-menu li.mega-hover a, .blog ul.mega-menu li a:hover {
	background-image: url(../../../images/home/images/mainmwnu_03.png);
	background-repeat: no-repeat;
	font-weight: bold;
	color: #000;
}
.blog ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.blog ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
.blog ul.mega-menu li .sub {
	background: url(images/bg_sub.png) no-repeat 100% 100%;
	padding: 20px 20px 20px 10px;
	text-align: left;
}
.blog ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.blog ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.blog ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.blog ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.blog ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.blog ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.blog ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #E3E3E3 url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #000; text-shadow: 1px 1px 1px #fff;}
.blog ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #a32403; text-shadow: none;}
/* 第3層 */
.blog ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.blog ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;}
/* 第4層 */
.blog ul.mega-menu .sub li.mega-hdr li ul li a {padding: 4px 5px 4px 25px; background: url(images/bullet_off.png) no-repeat 10px 8px; font-weight: normal;}
.blog ul.mega-menu .sub li.mega-hdr li ul li a:hover {color: #a32403; background: #efefef url(images/bullet_on.png) no-repeat 10px 8px;}
.blog ul.mega-menu .sub ul li {padding-right: 0;}
.blog ul.mega-menu li .sub-container.non-mega .sub {padding: 0px 0px 0px 0px;}
.blog ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.blog ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(images/arrow_off.png) no-repeat 7px 10px;}
.blog ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;}