<style>
<!--
/* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #DAE7F6;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #427ED2; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 2px; border: solid #D1D7DC 0px; border-top-width: 1px;}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #FFFFFF; border: 1px #98AAB1 solid; }

.forumline	{ background-color: #FFFFFF; border: 2px #427ED2 solid; }
tr.row1,td.row1	{ background-color: #F7FAFD; }
tr.row2,td.row2	{ background-color: #D8E6F5; }
tr.row3,td.row3	{ background-color: #D1D7DC; }

td.catHead {
			background-image: url(./images/td.gif);
}
td.catTop {
			background-image: url(./images/tr.gif);
			background-color:#D1D7DC; border: #FFFFFF;height: 28px;
}

td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}

.maintitle	{
	font-weight: bold; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF; font-size: 13px; font-weight : bold;


}

.gen { font-size : 12px; color : #000000;}
.genb { font-size : 12px; color : #000000; font-weight: bold;}
.gensmall { font-size : 10px; }
a.gen,a.genmed,a.gensmall { color: #427ED2; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #427ED2}
.cattitleb		{ font-weight: bold; font-size: 17px ; letter-spacing: 1px; color : #427ED2}
a.cattitle		{ text-decoration: none; color : #427ED2; }
a.cattitle:hover{ text-decoration: underline; }

/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}

/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-width: 1px 1px 1px 1px;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
	border-color : #000000;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}
-->
</style>