@charset "utf-8";

@import url("ini.css"); /* 初始化 */
@import url("ie6-png-hack.css"); /* ie6 透明貼圖修正 */
@import url("wrp-fix-treble.css"); /* 固定中央框架大小(三欄式) */
/*@import url("wrp-full-treble.css");*/ /* 框架滿版(三欄式) */
/*@import url("wrp-fix-double.css"); /* 固定中央框架大小(雙欄式) */
/*@import url("wrp-full-double.css");*/ /* 框架滿版(雙欄式) */
/*@import url("wrp-fix-single.css");*/ /* 固定中央框架大小(單欄式) */
/*@import url("wrp-full-single.css");*/ /* 框架滿版(單欄式) */
@import url("wrp-style-default.css"); /* 框架樣式(Default) */
/*@import url("wrp-style-round-treble.css");*/ /* 框架樣式(圓角) */
/*@import url("wrp-style-round-double.css");*/ /* 框架樣式(圓角) */
@import url("obj-style.css"); /* 物件樣式 */
@import url("sty-news.css"); /* 最新訊息樣式 */ 
@import url("sty-publish.css"); /* 最新訊息樣式 */
@import url("sty-activities.css"); /* 最新訊息樣式 */ 
/*@import url("photoFrame/photoFrame.css"); /* 相框樣式 */ 


