@charset "utf-8";
/*************************************
 *  框架設定
**************************************/
/* 外框 */
#wrapper {
	min-width:1000px;
	_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":""); 
	width: 100%;
	margin: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*-----------------------------------*/

/* 頁首 */
#wrapper #header {
	width: auto;
}
#wrapper #header #context{
	/*height: 50px;*/
	margin: 5px;
}
/*-----------------------------------*/

/* 橫幅 */
#wrapper #banner {
	width: auto;
}
#wrapper #banner #context{
	/*height: 80px;*/
	margin: 5px;
}
/*-----------------------------------*/

/* 左邊欄位 */
#wrapper #Left_column {
	
	width: 200px; /* 左邊欄位寬度 */
	float: left;
}
#wrapper #Left_column #context{
	/*height: 200px;*/
	margin: 5px;
}
/*-----------------------------------*/

/* 右邊欄位容器 */
#wrapper #Content_containter {
	float: left;
	width: 100%;
	/*height: 150px;*/
	margin-left: -200px; /* 左邊欄位負邊界 */
	margin-right: 0px;
}
/*-----------------------------------*/

/* 主要內容欄位 */
#wrapper #Content_containter #Main_content {
	float: left;
	width: 100%;
	margin-right: -200px; /* 右邊欄位負邊界 */
	text-align: justify;
	word-break:break-all;
}
#wrapper #Content_containter #Main_content #context {
	/*height: 200px;*/
	margin-right: 205px; /* 右邊欄正邊界 */
	margin-left: 205px; /* 左邊欄正邊界 */
	margin-top: 5px;
	margin-bottom: 5px;
}
/*-----------------------------------*/

/* 右邊欄位 */
#wrapper #Content_containter #Rght_column {
	float: right;
	width: 200px; /* 右邊欄位寬度 */
}
#wrapper #Content_containter #Rght_column #context{
	/*height: 200px;*/
	margin: 5px;
}
/*-----------------------------------*/

/* 頁尾 */
#wrapper #footer {
	clear: both;
}
#wrapper #footer #context{
	height: 50px;
	margin: 5px;
}

