@charset "utf-8"; 
#wrapper{margin:auto; margin-left:auto; margin-top:0px; margin-bottom:0px}
#wrapper #header{width:auto}
#wrapper #header #context{margin:0px}
#wrapper #banner{width:auto}
#wrapper #banner #context{margin:0px}
#wrapper #Left_column{width:220px; float:left}
#wrapper #Left_column #context{margin:0px;}
#wrapper #Content_containter{float:right; width:100%; margin-left:-220px; margin-right:0px}
#wrapper #Content_containter #Main_content{float:right; width:100%; margin-right:0px; dispaly:block}
#wrapper #Content_containter #Main_content #context{margin-right:0px; margin-left:220px; margin-top:0px; margin-bottom:0px}
#wrapper #Content_containter #Rght_column{float:right; width:0px; display:none}
#wrapper #Content_containter #Rght_column #context{margin:0px}
#wrapper #footer{clear:both}
#wrapper #footer #context{margin:0px}