@charset "utf-8";
#Top_Content{width:100%;position:fixed;z-index:1000;overflow:hidden;height:30px;background-image:url(../../../images/top_line.jpg);background-repeat:repeat-x;vertical-align:middle}
#Top_Content img{margin-top:3px;margin-left:4px;margin-right:4px;border:1px #CCC solid;max-height:20px}
#Top_Content .top_content{margin-top:3px;margin-left:4px;margin-right:4px}
#Top_Content .top_line{overflow:hidden;width:10px;margin-right:4px;margin-left:4px;margin-top:3px;border-color:#CCC;border-style:solid;border-width:0 1px 0 0}
#Bk_Anime_Wrapper,#Bk_Home_Anime_Wrapper,#Bk_Home_Bottom_Wrapper,#Bk_Home_Body_Wrapper{margin-top:30px;top:0;left:0;width:100%;hight:100%;position:absolute}
#Main_Wrapper{hight:100%}
#wrapper{min-width:800px;min-hight:100%;text-align:center;position:relative}
#wrapper #header{bottom:0;position:relative;z-index:600}
#wrapper #header #context{text-align:justify;word-break:normal;dispaly:block;margin-bottom:0}
#wrapper #banner{position:relative;z-index:1;margin:0;padding:0}
#wrapper #banner #context{text-align:center;word-break:normal;dispaly:block;margin-bottom:0}
#wrapper #Left_column{position:relative;z-index:550}
#wrapper #Content_containter{height:100%}
#wrapper #Content_containter #Main_content{z-index:-1}
#wrapper #Content_containter #Main_content #context li{list-style-type:decimal}
#wrapper #Content_containter #Main_content #context ol{margin-left:1.5em}
#wrapper #Content_containter #Main_content #context .xbreadcrumbs li,#wrapper #Content_containter #Main_content #context .ui-tabs li,#wrapper #Content_containter #Main_content #context .rater-star li{list-style:none}
#wrapper #Content_containter #Main_content #context{text-align:justify;word-break:normal;z-index:-1}
#wrapper #Content_containter #Main_content #context img{max-width:100%!important;height:auto!important;width:expression(this.width > 600 ? "600px" : this.width)!important}
#wrapper #Content_containter #Rght_column #context{text-align:justify;word-break:normal;dispaly:block;height:100%}
#wrapper #footer{width:100%;position:relative}
#wrapper #footer #floatblock{position:absolute;width:1200px;z-index:9990;float:left;padding:0;display:block;clear:both;margin-bottom:0}
#wrapper #footer #context{text-align:center;word-break:normal}
#Main_Wrapper{height:100%;margin:0;padding:0;vertical-align:top}
#Main_Wrapper #Middle_Wrapper{text-align:center;vertical-align:top;position:relative}
#abgne_float_ad{display:none;position:absolute;z-index:10000;zoom:1}
#abgne_float_ad .abgne_close_ad{display:block;text-align:right;cursor:pointer;font-size:12px}
#abgne_float_ad a img{border:none}
#abgne_float_left_menu{position:absolute;display:block;z-index:2500;left:-25px;top:200px;width:50px}
#abgne_float_left_top,#abgne_float_left_context,#abgne_float_left_bottom{position:relative;cursor:pointer}
#abgne_float_right_menu{width:50px;position:absolute;display:block;z-index:2500;left:960px;top:200px;margin-top:0}
#abgne_float_right_top,#abgne_float_right_context,#abgne_float_right_bottom{position:relative;cursor:pointer}
#abgne_float_lang_menu{width:500px;position:absolute;display:block;z-index:2500;right:20px;top:5px;margin-top:0;text-align:left}
#board_footer{position:fixed;bottom:0;height:60px;width:100%;margin-bottom:0;left:0;z-index:9500;text-align:center}
#right-fixed-center a{width:46px;height:104px;position:fixed;top:50%;left:50%;margin-left:522px;margin-top:-52px;_position:absolute;_top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);_margin-top:0;z-index:2;background-image:url(../images/r_arr.png);background-repeat:no-repeat;display:block}
#right-fixed-center a:hover{background-image:url(../images/r_arr_o.png);background-repeat:no-repeat;cursor:pointer}
#left-fixed-center a{width:46px;height:104px;position:fixed;top:50%;left:50%;margin-left:-571px;margin-top:-52px;_position:absolute;_top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2);_margin-top:0;z-index:2;background-image:url(../images/l_arr.png);background-repeat:no-repeat;display:block}
#left-fixed-center a:hover{background-image:url(../images/l_arr_o.png);background-repeat:no-repeat;cursor:pointer}
.scrollup{width:40px;height:40px;opacity:.7;position:fixed;bottom:50px;right:100px;display:none;text-indent:-9999px;background-image:url(../../../images/icon_top.png);background-repeat:no-repeat}